<html>
  <head>
    <title>WebCampBackendNew</title>
    <link rel ="stylesheet" href="/app/assets/stylesheets/application.css">
  </head>

  <body>
    <p>Book was successfully created.</p>
    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>
    <p>
      <strong>Body:</strong>
      <%= @book.body %>
    </p>
    <a href = "/books/:id/edit">Edit</a>
    |
    <a href = "/books">Back</a>
  </body>
</html>